/*  ----------------------- VIDEOS --------------------------- */
@import "../../Styles/Partials/variables";
@import "../../Styles/Partials/fonts";


.videos {
  * {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  &__link {
    text-decoration: none;
    color: $primaryColorBlack;
    width: 100%;
    border-radius: 0.25rem;
  }
  &__link-img {
    text-decoration: none;
    color: $primaryColorBlack;
    width: 45%;
    border-radius: 0.25rem;
    align-self: center;
  }

  &__description {
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
  &__card {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
  }
  &__image {
    object-fit: cover;
    height: 6.25rem;
    width: 100%;
    border-radius: 0.25rem;
  }

  &__author, &__title {
    padding: .5rem 0;
  }
}

@media only screen and (max-width: 1279px) {
}

@media only screen and (max-width: 767px) {
  .videos {
    h2 {
      font-size: larger;
      font-weight:normal;
      padding: 0.5rem 0;
    }
    padding: 1rem 0;
    &__title, &__author {
      font-size: small;
      padding: 0.25rem 0;
    }
    &__image{
      height: 4.6875rem;
      align-self: center;
    }
  }
}