//color-variables
$primaryColorBlack: #323232;
$primaryColorBlue: #0095FF;
$primaryColorSilver: #afafaf;
$primaryColorWhite: #ffffff;
$secondaryColorDarkBlack: #000000;
$secondaryColorDarkBlue: #0065AD;
$secondaryColorDarkMercury: #e1e1e1;
$secondaryColorDarkAlabaster: #fafafa;