@import "../../Styles/Partials/variables";

@import "../../Styles/Partials/fonts";

/*  ----------------------- HERO --------------------------- */
.hero {
  background-color: $secondaryColorDarkBlack;
  display: flex;
  justify-content: center;
  &__video {
    max-height: 31.25rem;
    max-width: 100%;
  }
}

//end hero

@media only screen and (max-width: 1279px) {
}

@media only screen and (max-width: 767px) {
}
