@import "../styles/partials/variables";
@import "../styles/partials/fonts";

.new-comments {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  * {
    margin: 0;
    padding: 0;
  }

  &__row {
    display: flex;
    flex-direction: row;
    border-bottom: 0.0625rem solid $secondaryColorDarkMercury;
    padding: 0rem 0 1rem 0;
  }

  &__logo {
    display: block;
    padding: 0;
    background-color: $secondaryColorDarkMercury;
    background-size: cover;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    margin: 1rem;
  }

  &__left {
    display: block;
  }

  &__right {
    display: flex;
    flex-direction: column;
  }
  &__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 3rem 0.5rem 0;
    margin-left: 1rem;
  }

  &__tittle {
    text-align: left;
    color: $primaryColorBlack;
    padding: 0.5rem 0;
  }

  &__date {
    text-align: right;
    color: $primaryColorSilver;
    font-weight: $regularWeight;
    padding: 0.5rem 0;
  }

  &__text {
    line-height: 1;
    color: $primaryColorBlack;
  }
}

@media only screen and (max-width: 1279px) {
}

@media only screen and (max-width: 767px) {
  .new-comments {
    &__card {
      padding: 0;
    }
    &__logo {
      margin: 0.25rem;
    }
    &__tittle {
      font-size: medium;
      padding: 0.5rem 0;
    }
    &__date {
      font-size: medium;
      padding: 0.5rem 0;
    }
    &__text {
      font-size: small;
    }
  }
}
