/*  ----------------------- VIDEOS --------------------------- */
@import "../styles/partials/variables";
@import "../styles/partials/fonts";

.videos {
  * {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  &__description {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__card {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
  }
  &__image {
    display: block;
    max-width: 6.25rem;
    max-height: 3.75rem;
    width: 100%;
    border-radius: 0.25rem;
  }

  &__author,
  &__title {
    padding: 0.5rem 0;
  }
}

@media only screen and (max-width: 1279px) {
}

@media only screen and (max-width: 767px) {
  .videos {
    h2 {
      font-size: larger;
      font-weight: normal;
      padding: 0.5rem 0;
    }
    padding: 1rem 0;
    &__tittle,
    &__author {
      font-size: x-small;
      padding: 0.25rem 0;
    }
  }
}
