@import "./styles/partials/variables";

@import "./styles/partials/fonts";


.page-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  font-family: $defaultFont;
}


